USE [master]
GO
/****** Object:  Database [QUANLY]    Script Date: 28/12/2018 08:30:16 ******/
CREATE DATABASE [QUANLY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VAIO\MSSQL\DATA\QUANLY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VAIO\MSSQL\DATA\QUANLY_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLY]
GO
/****** Object:  Table [dbo].[CT_PHIEUSUDUNG]    Script Date: 28/12/2018 08:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUSUDUNG](
	[MaPhieu] [char](6) NOT NULL,
	[MaSP] [char](8) NOT NULL,
	[NgaySuDung] [datetime] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUSUDUNG] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 28/12/2018 08:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [char](6) NOT NULL,
	[TenDV] [nvarchar](30) NOT NULL,
	[MoTaDV] [nvarchar](100) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOICOMBO]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOICOMBO](
	[MaPhieu] [char](6) NOT NULL,
	[MaSP] [char](8) NOT NULL,
	[MaNV] [char](6) NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
 CONSTRAINT [PK_GOICOMBO] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](6) NOT NULL,
	[HoTenKH] [nvarchar](30) NOT NULL,
	[EmailKH] [nvarchar](30) NULL,
	[GioiTinhKH] [bit] NULL,
	[NgaySinhKH] [datetime] NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[DienThoaiKH] [char](11) NULL,
	[NgayLamThe] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [char](6) NOT NULL,
	[HoTenNV] [nvarchar](30) NOT NULL,
	[GioiTinhNV] [bit] NULL,
	[NgaySinhNV] [datetime] NOT NULL,
	[DienThoaiNV] [char](11) NULL,
	[DiaChiNV] [nvarchar](100) NULL,
	[EmailNV] [nchar](30) NULL,
	[NgayVaoLam] [datetime] NOT NULL,
	[MatKhau] [varchar](10) NULL,
	[QuyenHan] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANPHOI]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANPHOI](
	[MaNPP] [char](6) NOT NULL,
	[TenNPP] [nvarchar](100) NOT NULL,
	[DiaChiNPP] [nvarchar](100) NULL,
	[DienThoaiNPP] [char](11) NULL,
	[Website] [char](50) NULL,
 CONSTRAINT [PK_NHAPHANPHOI] PRIMARY KEY CLUSTERED 
(
	[MaNPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUSUDUNG]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSUDUNG](
	[MaPhieu] [char](6) NOT NULL,
	[MaKH] [char](6) NOT NULL,
	[NgaySuDung] [datetime] NOT NULL,
	[MaNV] [char](6) NOT NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_PHIEUSUDUNG] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [char](8) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[Gia] [bigint] NULL,
	[SoLuong] [int] NULL,
	[NgayNhapHang] [datetime] NULL,
	[MaNPP] [char](6) NOT NULL,
	[MaDV] [char](6) NOT NULL,
	[MaTL] [char](6) NOT NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTL] [char](6) NOT NULL,
	[TenTL] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_PHIEUSUDUNG] ([MaPhieu], [MaSP], [NgaySuDung]) VALUES (N'SD0001', N'SP00001 ', CAST(N'2108-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[CT_PHIEUSUDUNG] ([MaPhieu], [MaSP], [NgaySuDung]) VALUES (N'SD0002', N'SP00001 ', CAST(N'2108-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [MoTaDV]) VALUES (N'DV0001', N'Lột Mụn', N'Lột mụn đầu đen')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [MoTaDV]) VALUES (N'DV0002', N'Tắm Trắng', N'Tắm là trắng')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [EmailKH], [GioiTinhKH], [NgaySinhKH], [DiaChiKH], [DienThoaiKH], [NgayLamThe], [NgayHetHan], [HoatDong]) VALUES (N'KH0001', N'Nguyễn Thị Mộng Thường', N'mongthuong1997@gmail.com', 0, CAST(N'1997-06-28T00:00:00.000' AS DateTime), N'Bình Dương', N'0987654321 ', CAST(N'2018-12-27T00:00:00.000' AS DateTime), CAST(N'2019-12-27T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [EmailKH], [GioiTinhKH], [NgaySinhKH], [DiaChiKH], [DienThoaiKH], [NgayLamThe], [NgayHetHan], [HoatDong]) VALUES (N'KH0002', N'Ngô Đoàn Duy Phương', N'duyphuong@gmail.com', 1, CAST(N'1996-12-12T00:00:00.000' AS DateTime), N'Bình Dương', N'0987654321 ', CAST(N'2018-01-11T00:00:00.000' AS DateTime), CAST(N'2019-02-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DienThoaiNV], [DiaChiNV], [EmailNV], [NgayVaoLam], [MatKhau], [QuyenHan]) VALUES (N'admin ', N'Trần Hồ Bảo Hoàng', 1, CAST(N'1997-03-16T00:00:00.000' AS DateTime), N'0383061717 ', N'Bình Dương', N'tranhobaohoang@gmail.com      ', CAST(N'2018-12-27T00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DienThoaiNV], [DiaChiNV], [EmailNV], [NgayVaoLam], [MatKhau], [QuyenHan]) VALUES (N'NV0002', N'Ngô Đoàn Duy Phương', 1, CAST(N'1996-12-12T00:00:00.000' AS DateTime), N'0987123458 ', N'Bình Dương', N'duyphuong@gmail.com           ', CAST(N'2018-01-12T00:00:00.000' AS DateTime), N'duyphuong', 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DienThoaiNV], [DiaChiNV], [EmailNV], [NgayVaoLam], [MatKhau], [QuyenHan]) VALUES (N'NV0003', N'Nguyễn Thị Mộng Thường', 0, CAST(N'1997-11-11T00:00:00.000' AS DateTime), N'0987654321 ', N'Bình Dương', N'mongthuong1997@gmail.com      ', CAST(N'2018-01-12T00:00:00.000' AS DateTime), N'mongthuong', 1)
INSERT [dbo].[NHAPHANPHOI] ([MaNPP], [TenNPP], [DiaChiNPP], [DienThoaiNPP], [Website]) VALUES (N'NPP001', N'Hồ Thị Bích Trâm', N'Suối Đôi', N'0987654321 ', N'bichtram.vn                                       ')
INSERT [dbo].[NHAPHANPHOI] ([MaNPP], [TenNPP], [DiaChiNPP], [DienThoaiNPP], [Website]) VALUES (N'NPP002', N'Ngô Thị Ngọc Dịu', N'Thủ Dầu Một', N'03812333531', N'ngocdiu@gmail.com                                 ')
INSERT [dbo].[PHIEUSUDUNG] ([MaPhieu], [MaKH], [NgaySuDung], [MaNV], [TongTien]) VALUES (N'SD0001', N'KH0001', CAST(N'2018-07-12T00:00:00.000' AS DateTime), N'NV0001', NULL)
INSERT [dbo].[PHIEUSUDUNG] ([MaPhieu], [MaKH], [NgaySuDung], [MaNV], [TongTien]) VALUES (N'SD0002', N'KH0001', CAST(N'2018-12-12T00:00:00.000' AS DateTime), N'NV0001', NULL)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MoTa], [Gia], [SoLuong], [NgayNhapHang], [MaNPP], [MaDV], [MaTL], [TinhTrang]) VALUES (N'SP000002', N'Mặt nạ Than', N'Được làm bằng Than đá', 205000, 20, CAST(N'2018-12-12T00:00:00.000' AS DateTime), N'NPP001', N'DV0001', N'TL0002', 0)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MoTa], [Gia], [SoLuong], [NgayNhapHang], [MaNPP], [MaDV], [MaTL], [TinhTrang]) VALUES (N'SP00001 ', N'Kem Body', N'Chà  là trắng', 100000, 100, CAST(N'2018-12-12T00:00:00.000' AS DateTime), N'NPP001', N'DV0001', N'TL0001', 0)
INSERT [dbo].[THELOAI] ([MaTL], [TenTL], [GhiChu]) VALUES (N'TL0001', N'Kem', N'Kem xù lông')
INSERT [dbo].[THELOAI] ([MaTL], [TenTL], [GhiChu]) VALUES (N'TL0002', N'Than hoạt tính', N'Đen thui')
ALTER TABLE [dbo].[PHIEUSUDUNG] ADD  CONSTRAINT [DF_PHIEUSUDUNG_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUSUDUNG_PHIEUSUDUNG] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUSUDUNG] ([MaPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNG] CHECK CONSTRAINT [FK_CT_PHIEUSUDUNG_PHIEUSUDUNG]
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUSUDUNG_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNG] CHECK CONSTRAINT [FK_CT_PHIEUSUDUNG_SANPHAM]
GO
ALTER TABLE [dbo].[GOICOMBO]  WITH CHECK ADD  CONSTRAINT [FK_GOICOMBO_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[GOICOMBO] CHECK CONSTRAINT [FK_GOICOMBO_NHANVIEN]
GO
ALTER TABLE [dbo].[GOICOMBO]  WITH CHECK ADD  CONSTRAINT [FK_GOICOMBO_PHIEUSUDUNG] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUSUDUNG] ([MaPhieu])
GO
ALTER TABLE [dbo].[GOICOMBO] CHECK CONSTRAINT [FK_GOICOMBO_PHIEUSUDUNG]
GO
ALTER TABLE [dbo].[GOICOMBO]  WITH CHECK ADD  CONSTRAINT [FK_GOICOMBO_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[GOICOMBO] CHECK CONSTRAINT [FK_GOICOMBO_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DICHVU] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DICHVU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHAPHANPHOI] FOREIGN KEY([MaNPP])
REFERENCES [dbo].[NHAPHANPHOI] ([MaNPP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHAPHANPHOI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THELOAI] FOREIGN KEY([MaTL])
REFERENCES [dbo].[THELOAI] ([MaTL])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THELOAI]
GO
/****** Object:  StoredProcedure [dbo].[store_timkiem]    Script Date: 28/12/2018 08:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[store_timkiem] 
	-- Add the parameters for the stored procedure here
@MaSP char(8),
@TenSP nvarchar(100),
@MoTa nvarchar(300),
@MaDV char(6),
@MaTL char(6),
@MaNPP char(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from SANPHAM where MaSP like '%'+@MaSP+'%'
						 and TenSP like '%'+@TenSP+'%'
						 and MoTa like '%'+@MoTa+'%'
						 and MaDV like '%'+@MaDV+'%'
						 and MaTL like '%'+@MaTL+'%'
						 and MaNPP like '%'+@MaNPP+'%'
						
END
GO
USE [master]
GO
